DATASOURCE_URL=
DATASOURCE_USERNAME=
DATASOURCE_PASSWORD=
EUREKA_URL=
FRONTEND_URL=
BACKEND_URL=
MOMO_PARTNERCODE=
MOMO_ACCESSKEY=
MOMO_SECRETKEY=
MOMO_URL=
MOMO_REFUND_URL=
JWT_SECRET=
JAVA_TOOL_OPTIONS=